<!--Done -->
<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if error %}
<p> Error: {{error}} </p>
{% endif %}
{% if message %}
{{message}}
{% endif %}
{% if (username) %}
 <p> Logged in as: {{username}} </p>
 <a href="/logout">Logout</a> 
{% endif %}
{% if (query) %}
	{% for flight in query%}
		<style>	
			div{
				border: 2px solid black;
			}
		</style>
		<div>
			{% if query.length == 1 %}
				{{flight}}
			{% endif %}
			{% for element in flight%}
				{% if element == 'customers' %}
					{{element}} :
					{% for i in flight[element] %}
						{{i}} </br>
					{% endfor %}
					</br>
				{% endif %}
				{% if element != 'customers' %}
				<p >{{element}}: {{flight[element]}} </p>
				{% endif %}
				<!-- {{value}} -->
			{% endfor%}
			{% if currDate %}
			{% if flight['departure_date'] > currDate %}
				<form action = "/setStatus" method = "POST">
				<input type = "hidden" name = "flight" value = "{{flight}}"/>
				<input type = "hidden" name = "original_query" value = "{{query}}"/>
				<input type = "submit" value = "change status"/>
				</form>
				
			{% endif %}
			{% if flight['arrival_date'] < currDate %}
				<form action = "/seeRatings" method = "POST">
				<input type = "hidden" name = "flight" value = "{{flight}}"/>
				<input type = "hidden" name = "original_query" value = "{{query}}"/>
				<input type = "submit" value = "View Ratings"/>
				</form>
			{% endif %}
			{% endif %}
			
		</div> 
	  
	        <hr>
	{% endfor %}
	<form action = "/selectRangeFlightsStaff", method = "POST">
	<input type = "hidden" name = "original_query" value = "{{query}}"/>
	<label> start date
	<input type = "date" name = "start_date" required/>
	</label>
	<label> end_date
	<input type = "date" name = "end_date" max = {{today}} required/>
	</label>
	<input type = "submit" value = "show flights"/>
</form>
	{% endif %}
	
<a href="/">Go back</a>
</body>

</html>
