<!--Done -->
<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if error %}
<p> Error: {{error}} </p>
{% endif %}
{% if (username) %}
 <p> Logged in as: {{username}} </p>
 <a href="/logout">Logout</a> 
{% endif %}
{% if (query) %}
	{% for flight in query%}
		<style>	
			div{
				border: 2px solid black;
			}
		</style>
		<div>
			{% if query.length == 1 %}
				{{flight}}
			{% endif %}
			{% for element in flight%}
				<p >{{element}}: {{flight[element]}} </p>
				<!-- {{value}} -->
			{% endfor%}
			<form action = "/rateFlight" method = "POST">
				<input type = "hidden" name = "original_query" value = "{{query}}" />
				<input type = "hidden" name = "flight" value ="{{flight}}" />
				<input type = "submit" value = "rate flight" />
			</form>
		</div> 
	  
	        <hr>
	{% endfor %}
	{% endif %}
<a href="/">Go back</a>
</body>

</html>
